/* Slideshow.scss */
.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    .slide {
        opacity: 0;
        transition: opacity 0.5s ease;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        }

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 3rem; // Taille par défaut pour mobile
    cursor: pointer;
    color: white;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.slide-number {
    display: none; // Par défaut pour mobile
}

.slide.active {
    opacity: 1;
}

.image {
    width: 100%;
    height: 255px; // Taille par défaut pour mobile
    border-radius: 20px;
    object-fit: cover;
}

@media (min-width: 481px) {
    .left-arrow,
    .right-arrow {
        font-size: 5rem; // Taille pour les écrans plus larges
        }
        
        .slide-number {
            display: block; // Affichage pour les écrans plus larges
        position: absolute;
        bottom: 10px;
            justify-content: center;
            font-family: "Montserrat";
        color: white;
        padding: 5px 10px;
            border-radius: 5px;
            font-size: 18px;
    }

        .image {
            height: 415px; // Taille pour les écrans plus larges
    }
}
