.bodyHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    padding-top: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.link {
    display: flex;
    gap: 30px; // Taille par défaut pour mobile
    font-size: 16px; // Taille par défaut pour mobile
    font-family: "Montserrat";
}

.link__noBorder {
    text-decoration: none;
}

a {
    color: black;
}

.img__Header {
    height: 50px; // Taille par défaut pour mobile
    width: 145px; // Taille par défaut pour mobile
}

@media (min-width: 481px) {
    .img__Header {
        height: 68px; // Taille pour les écrans plus larges
        width: 210px; // Taille pour les écrans plus larges
    }

    .link {
        gap: 57px; // Taille pour les écrans plus larges
        font-size: 24px; // Taille pour les écrans plus larges
    }
}
