
.contentDiv {
    display: flex;
    gap: 40px;
    flex-direction: column;

}
@media (max-width: 480px) {
    .contentDiv {
        display: flex;
        gap: 20px;
        flex-direction: column;

    }
}