.contentDiv {
    display: flex;
    gap: 20px; // Taille par défaut pour mobile
    flex-direction: column;
}
@media (min-width: 481px) {
    .contentDiv {
        gap: 40px; // Taille pour les écrans plus larges
    }
}
