@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white;
  font-family: "Montserrat";
  font-size: 24px;

}

.conteneur {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.conteneur__card {
  background-color: #F6F6F6;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-content: space-around;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 50px;
  padding: 50px;
  max-width: 1240px;

}

.cardRed {

  width: 100%;
  height: 100%;
  border-radius: 10px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  background-color: #FF6060;
  display: flex;
  align-items: end;
  padding: 10px;


}