.contentDivCollapse {
    width: 100%;
    display: flex;
        flex-direction: column;
h2 {
        font-size: 13px; // Taille de police par défaut pour mobile
    }
}

.clickableDiv {
    background-color: #FF6060;
    color: white;
    padding: 2px; // Padding par défaut pour mobile
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: white;
        
}
}
.content {
    @extend .clickableDiv;
    background-color: #F6F6F6;
    transition: transform 1s ease;
h3 {
        font-size: 12px; // Taille de police par défaut pour mobile
        font-family: 'Montserrat';
        color: black;
            font-weight: 400;
        }
}

.arrow {
    height: 16px; // Taille par défaut pour mobile
        width: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow.active {
    transform: rotate(-180deg);
}

@media (min-width: 481px) {

    .contentDivCollapse {
            h2 {
                font-size: 24px;
            }
        }
        .clickableDiv {
            padding: 10px;
    
            h2 {
                font-size: 24px;
            }
        }
        .content {
            h3 {
                font-size: 18px;
        }
        }
    
        .arrow {
            height: 32px;
            width: 32px;
        }
    
        }