.conteneur404 {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 1290px;

    display: flex;
    align-items: center;
    flex-direction: column;


    gap: 50px;

    img {
        width: 597px;
        height: 263px;
    }

    .title {
        color: #FF6060;
        font-size: 36px;
    }


}